/* Starter code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, serif;
    background-color: #B10003;
    padding: 40px;
}


/* Header text */
.header {
    color: #FCCC49;
    font-family: Arial, serif;
    font-size: 30px;
}

.subhead {
    color: #FCCC49;
    font-family: Arial, serif;
    font-size: 60px;
}


/* Navigation Bar Container */
.navbar {
    background-color: #B10003;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-radius: 0px;
    border: 1px solid #FCCC49;
}

/* Logo Styling */
.logo img {
    height: 60px;
    width: auto;
}

/* Navigation Menu List */
.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.navbar li {
    display: inline;
}

/* Navigation Links */
.navbar a {
    color: #FCCC49;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
}

/* Hover Effect for Navigation Links */
.navbar a:hover {
    color: #ffffff;
}

/* Menu stuff*/
.menuheader {
    color: #FCCC49;
    font-size: 45px;
}

.menunavbar {
    color: #FCCC49;
    font-size: 23px;
}

.menusubheads {
    color: #FCCC49;
    font-size: 20px;
}

.menusubsubheads {
    color: #FCCC49;
    font-size: 17px;
}

.menutext {
    color: #FCCC49;
    font-size: 15px;
}
