/* Starter code */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: Arial, sans-serif;
    background-color: #F0FFE8;
    color:#4B7339;
}

h1 {


}

h2 {


}


h3 {
   
}


p {


}

.music-btn {
  background: #4B7339;
  color: #F0FFE8;
  padding: 14px 26px;
  border: none;
  border-radius: 20px;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
  height: 45px;

}

/* Navigation Bar Container */
.navbar {
    background-color: #B0CDA3;
    padding: 8px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    border-radius: 0px;

    position: sticky;  /* Makes it stick */
     top: 0;            /* Distance from top */
    z-index: 1000;     /* Ensures it stays on top of other content */
}

/* Logo Styling */
.logo img {
    height: 30px;
    width: auto;
    position: center;
}


.pics:hover {
    transform: translateY(-10px);
    transition: transform .10s ease;
}

td, th {
  padding: 15px; /* Adds 10px of padding on all sides */
}








/* Modal Background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 2000; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
}

/* Modal Image */
.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    border-radius: 10px;
    animation: zoomIn 0.3s ease;
}

/* Animation */
@keyframes zoomIn {
  from { transform: scale(0.7); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Close Button */
.close {
    position: absolute;
    top: 560px;
    right: 440px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
}

.close:hover {
    color: #ddd;
}





